POSTGRES_DB= #nom de la base de données
POSTGRES_USER= #nom de l'utilisateur
POSTGRES_PASSWORD= #mot de passe

DATABASE_URL= #postgresql://{nom de l'utilisateur}:{mot de passe}@db:5432/{nom de la base de données}?schema=public

NEXTAUTH_SECRET= #clé secrète pour NextAuth

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= #pk_test_XXXXXXXXXXXXXXXXXXXXXXXX
STRIPE_SECRET_KEY= #sk_test_XXXXXXXXXXXXXXXXXXXXXXXX
